.git
.github
node_modules
vendor
.env
.env.backup
.env.production
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
docker-compose.yml
docker-compose.production.yml
Dockerfile
.dockerignore
rr
.phpunit.result.cache
tests
.editorconfig
.styleci.yml
phpunit.xml
composer.phar
npm-debug.log
yarn-error.log
auth.json
